.headers{
    color: rgb(240, 75, 75);
    background-color: rgb(128, 210, 237);
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    font-family: Garamond, Georgia, 'Times New Roman';
}

.links{
    text-align: center;
}

a{
    color: blueviolet ;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: Garamond, Georgia, 'Times New Roman';
}

.para{
    font-size: 25px;
    font-family: inherit;
}

.subhead{
    font-size: 30px;
    color: rgb(55, 55, 218);
    text-align: center;
}

.image{
    height: auto;
    width: 700px;
}

.centerpic{
    text-align: left;
}